<mat-accordion>
  <mat-expansion-panel *ngFor="let formType of formTypesSelected">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{formType.value}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="example-header">
      <mat-form-field>
        <input matInput placeholder="Enter App Template">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter UX Template">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="URL">
      </mat-form-field>
    </div>

    <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            HEADER
          </ng-template>
          <app-header></app-header>
        </mat-tab>
        <mat-tab *ngIf="formType.tabs">
          <ng-template mat-tab-label>
            NAV
          </ng-template>
          <app-nav></app-nav>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            BODY
          </ng-template>
         <app-body></app-body>
        </mat-tab>
        <mat-tab  *ngIf="formType.tabs">
          <ng-template mat-tab-label>
            REPORT
          </ng-template>
         <app-reports></app-reports>
        </mat-tab>
      </mat-tab-group>

  </mat-expansion-panel>
</mat-accordion>
