<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
  <div class="input-container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
        <form class="example-form">
          <mat-form-field class="example-full-width headerwidth">
            <input matInput placeholder="Header Content" [(ngModel)]="headers.header" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </form>
      </div>
      <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Columns" [(ngModel)]="headers.column" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let col of columns" [value]="col">{{col}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div *ngIf="show">
      <table style="padding-bottom:15px;">
        <thead>
          <th>Label</th>
          <th>Columns</th>
          <th>Js</th>
        </thead>
        <tbody>
          <tr *ngFor="let header of headers">
            <td>{{header._fl_elem_label}}</td>
            <td>{{header._fl_elem_type}}</td>
            <td>{{header._fl_elem_ref}}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Label" [(ngModel)]="header._fl_elem_label" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </form>
      </div>
      <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Type" [(ngModel)]="header._fl_elem_type" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let colss of type" [value]="colss">{{colss}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="JS" [(ngModel)]="header._fl_elem_ref" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </form>
      </div>
      <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" [hidden]='addicon'>
        <button mat-button color="primary" (click)="addnew(header)">
          <mat-icon style="color:lightgreen;">add</mat-icon> Add New </button>
      </div>
    </div>

  </div>
</div>