<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" fxFlexFill style="padding: 20px;">

  <div fxLayout="column" style="background-color: white; padding: 10px;" fxLayoutAlign="space-between stretch" fxLayoutGap="5px"
    fxFlexFill>

    <!-- <mat-toolbar>
          <h3 style="margin-left: 16px;" class="mat-heading"> Document List </h3>
          <span class="spacer"></span>
          <button style="margin-right: 16px;" (click)="addNewDocument()" mat-raised-button color="primary">Add New</button>
      </mat-toolbar> -->
    <table>
      <thead>
        <tr>
          <th scope="col">FIELD</th>
          <th scope="col">ELEMENT TYPE</th>
          <th scope="col">LABEL</th>
          <th scope="col">VIEW TYPE</th>
          <th></th>
        </tr>
      </thead>
    </table>
    <div *ngFor="let elemend of elementTypes; let i = index;">
      <button class="accordion" (click)="open(elemend.data)" style="align-items: center;">
        <div fxFlex.xs="50" fxFlex.lg="12.5" fxFlex.md="12.5" fxFlex.sm="25">
          <mat-checkbox class="">column {{i}}</mat-checkbox>
        </div>
        <div fxFlex.xs="50" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25">
          <mat-form-field class="">
            <mat-select>
              <mat-option *ngFor="let col of columns" [value]="col">{{col}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex.xs="50" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25">
          <mat-form-field>
            <input matInput value="Sushi">
          </mat-form-field>
        </div>
        <div fxFlex.xs="50" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25">
          <mat-form-field>
            <mat-select>
              <mat-option *ngFor="let col of columns" [value]="col">{{col}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex.xs="50" fxFlex.lg="12.5" fxFlex.md="12.5" fxFlex.sm="25">
          <mat-icon>file_copy</mat-icon>
        </div>
      </button>
      <div class="panel">
        <table>
          <tbody style="background-color: white;">
            <tr *ngFor="let elemen of elemend.data;let i = index;">
              <td fxFlex.xs="50" fxFlex.lg="13" fxFlex.md="13" fxFlex.sm="25" class="leftalign"></td>
              <td scope="col" fxFlex.xs="50" fxFlex.lg="24" fxFlex.md="25" fxFlex.sm="25">
                <mat-form-field class="leftalign">
                  <mat-select>
                    <mat-option *ngFor="let col of columns" [value]="col">{{col}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td scope="col" fxFlex.xs="50" fxFlex.lg="24" fxFlex.md="25" fxFlex.sm="25">
                <mat-form-field class="leftalign">
                  <input matInput value="Sushi">
                </mat-form-field>
              </td>
              <td scope="col" fxFlex.xs="50" fxFlex.lg="24" fxFlex.md="25" fxFlex.sm="25">
                <mat-form-field class="leftalign">
                  <mat-select>
                    <mat-option *ngFor="let col of columns" [value]="col">{{col}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td fxFlex.xs="50" fxFlex.lg="13" fxFlex.md="13" fxFlex.sm="25" class="leftalign"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <div fxFlex.xs="100">
        <button style="float:right;" mat-raised-button color="primary">Save</button>
      </div>
    </div>
  </div>
</div>
