<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" fxFlexFill style="padding: 20px;">

  <div fxLayout="column" style="background-color: white; padding: 10px;" fxLayoutAlign="space-between stretch" fxLayoutGap="5px"
    fxFlexFill>

    <!-- <mat-toolbar>
          <h3 style="margin-left: 16px;" class="mat-heading"> Document List </h3>
          <span class="spacer"></span>
          <button style="margin-right: 16px;" (click)="addNewDocument()" mat-raised-button color="primary">Add New</button>
      </mat-toolbar> -->
    <table>
      <thead>
        <tr>
          <th scope="col">FIELD</th>
          <th scope="col">ELEMENT TYPE</th>
          <th scope="col">LABEL</th>
          <th scope="col">VIEW TYPE</th>
          <th></th>
        </tr>
      </thead>
    </table>
    <div *ngFor="let column of columns; let i = index;">
      <button class="accordion" (click)="open(column.COLUMN_NAME)" style="align-items: center;">
        <div fxFlex.xs="50" fxFlex.lg="12.5" fxFlex.md="12.5" fxFlex.sm="25">
          <mat-checkbox [(ngModel)]="column.checked" class="">{{column.COLUMN_NAME}}</mat-checkbox>
        </div>
        <div fxFlex.xs="50" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25">
          <mat-form-field class="">
            <mat-select placeholder="Element Type" [(ngModel)]="column.etype">
              <mat-option *ngFor="let etype of elementType" [value]="etype">{{etype}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex.xs="50" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25">
          <mat-form-field>
            <input matInput placeholder="LABEL" [(ngModel)]="column.label">
          </mat-form-field>
        </div>
        <div fxFlex.xs="50" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25">
          <mat-form-field>
            <mat-select placeholder="View Type" [(ngModel)]="column.vtype">
              <mat-option *ngFor="let vtype of viewTypes" [value]="vtype.value">{{vtype.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex.xs="50" fxFlex.lg="12.5" fxFlex.md="12.5" fxFlex.sm="25">
          <mat-icon>file_copy</mat-icon>
        </div>
      </button>
      <div class="panel">
        <table>
          <tbody style="background-color: white;">
            <!--<tr *ngFor="let column of columns;let i = index;">-->
            <tr>
              <td fxFlex.xs="50" fxFlex.lg="13" fxFlex.md="13" fxFlex.sm="25" class="leftalign"></td>
              <td scope="col" fxFlex.xs="50" fxFlex.lg="24" fxFlex.md="25" fxFlex.sm="25">
                <mat-form-field class="leftalign">
                  <mat-select placeholder="LookUps" [(ngModel)]="column.lookup">
                    <mat-option *ngFor="let lookup of lookupsData" [value]="lookup._fl_code_name">{{lookup._fl_code_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td scope="col" fxFlex.xs="50" fxFlex.lg="24" fxFlex.md="25" fxFlex.sm="25">
                <mat-form-field class="leftalign">
                  <input matInput placeholder="Default Value" [(ngModel)]="column.defaultValue">
                </mat-form-field>
              </td>
              <td scope="col" fxFlex.xs="50" fxFlex.lg="24" fxFlex.md="25" fxFlex.sm="25">
                <mat-form-field class="leftalign">
                  <input matInput placeholder="Element Order" [(ngModel)]="column.order">
                </mat-form-field>
              </td>
              
              <td fxFlex.xs="50" fxFlex.lg="13" fxFlex.md="13" fxFlex.sm="25" class="leftalign"></td>
            </tr>
            <tr>
              <td fxFlex.xs="50" fxFlex.lg="13" fxFlex.md="13" fxFlex.sm="25" class="leftalign"></td>
              
              <td scope="col" fxFlex.xs="50" fxFlex.lg="24" fxFlex.md="25" fxFlex.sm="25">
                <mat-form-field class="leftalign">
                  <input matInput placeholder="Element Size" [(ngModel)]="column.size">
                </mat-form-field>
              </td>
              <td scope="col" fxFlex.xs="50" fxFlex.lg="24" fxFlex.md="25" fxFlex.sm="25">
                <mat-form-field class="leftalign">
                  <input matInput placeholder="Element Length" [(ngModel)]="column.length">
                </mat-form-field>
              </td>
              <td fxFlex.xs="50" fxFlex.lg="13" fxFlex.md="13" fxFlex.sm="25" class="leftalign"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
